<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
      }
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        font-size: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <div style="display: -webkit-flex; -webkit-justify-content: center">
        <div style="font-weight: bold">Договор №</div>
        <span style="margin-left: 10px"><%- reportdata.dogovor_dlya_schet_oplaty %></span>
      </div>
      <div style="display: -webkit-flex; margin-top: 20px; width: 400px; -webkit-justify-content: space-between;">
        <span style="font-weight: bold;">г. Астана</span>
        <span style="font-weight: bold;">дата: <%- reportdata.data_dogovara %></span>
      </div>
      <div><%-reportdata.section%></div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">1. Предмет договора</div>
        <div style="margin-top: 5px">
          <% reportdata.sections1.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">2. Права и обязанности сторон</div>
        <div style="margin-top: 5px">
         
          <% reportdata.sections2.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">3. Порядок расчетов</div>
        <div style="margin-top: 5px">
          <% reportdata.sections3.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">4. Доставка и приемка оказанных услуг (работ)</div>
        <div style="margin-top: 5px">
          <% reportdata.sections4.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">5. Ответственность сторон</div>
        <div style="margin-top: 5px">
          <% reportdata.sections5.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">6. Порядок разрешения споров</div>
        <div style="margin-top: 5px">
          <% reportdata.sections6.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">7. Срок действия договора и порядок его расторжения</div>
        <div style="margin-top: 5px">
          <% reportdata.sections7.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div style="margin-top: 30px">
        <div style="text-align: center; font-weight: bold">8. Прочие положения</div>
        <div style="margin-top: 5px">
          <% reportdata.sections8.forEach(function(es) { %>
            <div><%= es %> </div>
          <% }) %>
        </div>
      </div>
      <div>
        <div style="text-align: left; font-weight: bold;  margin-top: 30px; text-align: center;">
          9. Место нахождения, реквизиты и подписи Сторон
        </div>
        <table style="width: 100%">
          <tr>
            <th style="font-weight: bold">Исполнитель:</th>
            <th style="font-weight: bold">Заказчик:</th>
          </tr>
          <tr>
            <td style="position: relative;">
              <span style="font-weight: bold"><%-reportdata.card.ip%></span> <br/>
        
              БИН/ИИН: <%-reportdata.card.biin_from_ip%> <br />
              ИИК <%-reportdata.card.iik%> <br />
              БИК <%-reportdata.card.biik_from_ip%><br />
              Кбе <%-reportdata.card.kbe%><br />
              <span style="font-weight: bold">Директор</span><br />
              ____________________ <%-reportdata.card.rukovoditel%><br />
              <% if (reportdata.checkbox) { %>
              <img src="<%-reportdata.rospis%>" style="position: absolute; bottom:10px; left: 30px; width: 50px; height: 30px;">
              <% } %>
              м.п.
              <% if (reportdata.checkbox) { %>
                <img style="position: absolute; top: 75px; left: 0px; width: 100px;" src="<%- reportdata.pechat %>" alt="Печать">
              <% } %>
            </td>
            <td>
              <%- reportdata.name_of_firm %> <br />
              Адрес: <%- reportdata.address %> <br />
              БИН\ИИН: <%- reportdata.iin_biin %><br />
              ИИК <%- reportdata.iik %> <br />
              <%- reportdata.bank %> <br />
              Директор ____________________________ <%- reportdata.director_from_client %>
              
            </td>
          </tr>
        </table>
        <div style="text-align: center; margin-top: 200px; font-size: 10px ; font-weight: bold;">
          Приложение 1 к договору № <%- reportdata.dogovor_dlya_schet_oplaty %> от <%-reportdata.data_dogovara%>
          <%- reportdata.dogovor %>
        </div>
        <div>между <%- reportdata.card.ip %>  (qadamloft) и заказчик <%- reportdata.name_of_firm %></div>
        <table style="width: 100%; margin-top: 20px; font-size: 10px;">
          <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Цена</th>
          </tr>
          <% reportdata.esf.forEach(function(es) { %>
          <tr>
            <td style="font-size: 10px; padding: 5px"><%= es.n %></td>
            <td style="font-size: 10px; padding: 5px"><%= es.Наименование %></td>
            <td style="font-size: 10px; padding: 5px"><%= es.kol_vo %> шт</td>
            <td style="font-size: 10px; padding: 5px"><%= es.efs1 %> тнг</td>
          </tr>
          <% }) %>
        </table>
    
            <div style="display:  -webkit-flex; margin-top: 70px;">
            <div style="padding: 5px; position: relative; width: 200px; border: 1px solid black; height: 100px;">
              <span style="text-align: center"><%- reportdata.card.ip %></span>
             <br> Руководитель _____________  <%-reportdata.card.rukovoditel%>
              <% if (reportdata.checkbox) { %>
              <img src="<%-reportdata.rospis%>" style="position: absolute; top: 5px; left: 60px; width: 50px; height: 30px;">
              <% } %>
              <% if (reportdata.checkbox) { %>
                <img style="position: absolute; top: 60px; left: 70px; width: 100px;" src="<%- reportdata.pechat %>" alt="Печать">
              <% } %>
              </div>
            <div style="padding: 5px; border: 1px solid black; width: 200px; height: 100px; margin-left: 10px;">
              <%- reportdata.name_of_firm %> </br> Руководитель _____________ 
              <%- reportdata.director_from_client %>
            </div>
          </div>
    
      </div>
    </div>
  </body>
</html>