<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    body {
      font-size: 12px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
  <body>
    <div style="overflow: hidden; margin-left: 50px">
      <div style="display: -webkit-flex; -webkit-justify-content: center">
        <div style="font-weight: bold">Договор №</div>
        <span style="margin-left: 10px"><%-reportdata.dogovor_dlya_schet_oplaty%></span>
      </div>
      <div
        style="
          display: -webkit-flex;
          margin-top: 20px;
          width: 400px;
          -webkit-justify-content: space-between;
        "
      >
        <span>г. Астана </span>
        <span> дата: <%-reportdata.data_dogovora%></span>
      </div>
      <div style="display: -webkit-flex; margin-top: 5px">
        <span><%-reportdata.name_of_firm%></span>
        <span style="margin-left: 10px"
          ><%-reportdata.iin_biin%> контактный номер <%-reportdata.tel2_from_client%> действующего в
        </span>
      </div>
      <div style="display: -webkit-flex">
        <span>
          лице директора <%-reportdata.director_from_client%> далее именуемый
          <span style="font-weight: bold">«Заказчик»</span> с одной стороны, и ИП «СЫМБАТ»
          (qadamloft), в лице Аймаганова М.С. , именуемый в дальнейшем «Исполнитель», действующей на
          основании свидетельства о регистрации Талон KZ41TWQ02288411, с другой стороны, совместно
          или по отдельности именуемые «Стороны», заключили настоящий договор (далее – Договор) о
          нижеследующем.</span
        >
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">1. Предмет договора</div>
        <div style="margin-top: 5px">
          1.1. По договору возмездного оказания услуг Заказчик обязуется оплатить оказанные услуги,
          а Исполнитель обязуется по заданию Заказчика оказать следующие услуги: <br />1.1.1
          Изготовить изделия из приложения 1, после подписания данного приложения становятся
          неотъемлемой частью договора. <br />
          1.2. Срок выполнения работ Договора---сроки испол рабочих дней с момента первого платежа
          или с момента подтверждения бланка заказов, что является позднее. Исполнитель имеет право
          выполнить работы досрочно.<br />
          1.3. В случае возникновения необходимости выполнения дополнительных объемов, Стороны
          письменно согласуют перечень, срок выполнения, стоимость таких работ и порядок оплаты,
          заключив дополнительное соглашение к настоящему договору.
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">2. Права и обязанности сторон</div>
        <div style="margin-top: 5px">
          2.1. Исполнитель обязан:
          <br />2.1.1. Оказать услуги с надлежащим качеством.<br />
          2.1.2. Оказать услуги в полном обьеме в срок, указанный в п. 1.2 настоящего договора.<br />
          2.2. Заказчик обязан:<br />
          2.2.1. Оплатить услуги после подписания договора, в порядке, указанном в п. 3.2.<br />
          2.2.2. Забрать товар после изготовления со склада, в течении 14 (четырнадцать) календарных
          дней, после накладывается штраф за каждый день просрочки нахождения товара на складе.<br />
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">3. Порядок расчетов</div>
        <div style="margin-top: 5px">
          3.1. Общая стоимость настоящего Договора составляет <%-reportdata.itogo%> тенге, сумма
          договора включает в себя стоимость материалов и работ, сборка в ЦЕХу.
          <br />3.2. Заказчик в момент подписания Договора вносит 70% предоплату от обшей суммы
          Договора, что составляет <%-reportdata.seventy_percent%> тенге, 30% в размере
          <%-reportdata.thirty_percent%> тенге до доставки (до отгрузки из склада). Для юридических
          лиц 100% оплата.<br />
          2.1.2. Оказать услуги в полном обьеме в срок, указанный в п. 1.2 настоящего договора.<br />
          3.3. Просрочка товара на складе указанная в п. 2.2.2, накладывается штрафом в 5 000 (пять
          тысяч) тенге за каждый день.
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">
          4. Доставка и приемка оказанных услуг (работ)
        </div>
        <div style="margin-top: 5px">
          4.1. Доставка готовых изделий осуществляется Заказчиком.
          <br />4.2. Приемка мебели производится Заказчиком по комплектации согласно эскиза (Прил.1)
          и спецификации (Прил.2) в присутствии представителей обеих сторон, о чем составляется акт
          приема-сдачи.<br />
          4.3. Мебель считается переданной Исполнителем и принятым Заказчиком с переходом к нему
          права собственности только после подписания сторонами акта приема-сдачи мебели. До
          подписания данного акта, все права собственности на данное изделия находятся у
          Исполнителя.<br />
          4.3. Мебель считается переданной Исполнителем и принятым Заказчиком с переходом к нему
          права собственности только после подписания сторонами акта приема-сдачи мебели. До
          подписания данного акта, все права собственности на данное изделия находятся у
          Исполнителя.<br />
          4.4. Заказчик, обнаруживший недостатки по изготовлению или установке мебели при ее приемке
          вправе ссылаться на них впоследствии, если они были зафиксированы в акте приема-сдачи и
          небыли устранены Исполнителем.<br />
          4.5. При уклонении Заказчика от принятия мебели и подписания акта приема-сдачи в течение
          10 (десяти) дней с даты изготовления по настоящему договору, мебель считается принятой в
          полной комплектации, с должным качеством и в срок, с переходом права собственности и всех
          рисков к Заказчику с момента даты изготовления.<br />
          4.6. Все обнаруженные Заказчиком недостатки по комплектации и качеству мебели при ее
          приемке подлежат устранению в течение 20 (двадцати) дней с момента письменного уведомления
          Исполнителя.<br />
          4.7. В случае не мотивированного расторжения настоящего договора, на любом этапе
          изготовления мебели с момента подписания настоящего договора, Исполнитель оставляет за
          собой право требовать с Заказчика возмещения понесённого ущерба по факту упущенной прибыли
          и понесенных затрат, а также не возвращать в части или полностью внесённую заказчиком
          предоплату. Домыслы, умозаключения и изменения личностного отношения к жизненным
          ситуациям, не являются причиной обоснованного расторжения настоящего договора.<br />
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">5. Ответственность сторон</div>
        <div style="margin-top: 5px">
          5.1. В случае неисполнения или ненадлежащего исполнения обязательств, педусмотренных
          настоящим договором Стороны несут ответственность в соответствии с действующим
          законодательством Республики Казахстан.
          <br />5.2. При необоснованном отказе от приемки работ Заказчик возмещает Исполнителю
          убытки в виде прямого ущерба.<br />
          5.3. В случае нарушения сроков выполнения Работ, Исполнитель оплачивает Заказчику, в
          случае заявления последним соответствующего требования, пеню в размере 0,1% (ноль целых
          одна десятая процента) от Цены Договора за каждый календарный день просрочки.<br />
          5.4. В случае нарушения Заказчиком сроком и/или условий платежей по Договору, Заказчик
          уплачивает штрафную пеню в размере 0,1% (ноль целых одна десятая процента) от Цены
          Договора за каждый день просрочки.<br />
          5.5. В случае если Заказчик отказывается от исполнения настоящего договора или от своего
          заказа после подписания Приложения № 1 и/или Приложения № 2 к Договору, то полученный
          Исполнителем авансовый платеж по договору не возвращается и остается в качестве возмещения
          убытков, в том числе для возмещения стоимости расходных материалов и работ по обработке и
          изготовлению Продукции.<br />
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">6. Порядок разрешения споров</div>
        <div style="margin-top: 5px">
          6.1. Споры и разногласия, которые могут возникнуть при исполнении настоящего договора,
          будут по возможности разрешаться путем переговоров между сторонами.
          <br />6.2. В случае невозможности разрешения споров путем переговоров, они рассматриваются
          в соответствии с действующим законодательством Республики Казахстан.<br />
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">
          7. Срок действия договора и порядок его расторжения
        </div>
        <div style="margin-top: 5px">
          7.1. Настоящий Договор вступает в юридическую силу со дня подписания Сторонами и действует
          до полного исполнения Сторонами обязательств.
          <br />7.2. Настоящий Договор, может быть, расторгнут по взаимному соглашению Сторон с
          предварительным осуществлением взаиморасчетов, по основаниям, предусмотренным действующим
          законодательством Республики Казахстан.<br />
        </div>
      </div>
      <div style="margin-top: 10px">
        <div style="text-align: center; font-weight: bold">8. Прочие положения</div>
        <div style="margin-top: 5px">
          8.1. Договор составлен на русском языке в двух экземплярах, обладающих равной юридической
          силой, по одному экземпляру для каждой из Сторон.
          <br />8.2. Любые изменения и дополнения к настоящему Договору должны быть совершены в
          письменной форме путем составления соответствующего Соглашения, подписанного
          уполномоченными лицами.<br />
        </div>
      </div>
      <div>
        <div style="text-align: left; font-weight: bold;">9. Место нахождения, реквизиты и подписи Сторон</div>
        <table style="width: 100%;">
          <tr>
            <th style="font-weight: bold;">Исполнитель:</th>
            <th style="font-weight: bold;">Заказчик:</th>
          </tr>
          <tr>
            <td>
              <span style="font-weight: bold">ИП «Сымбат» </span><br />Адрес: город Нур-Султан,
              район Есиль, Сығанақ 54а,<br />офис 1007<br />
              Тел: +77029028442<br />
              БИН/ИИН: 910515450944 <br />
              ИИК KZ38722S000018578247 <br />
              БИК CASPKZKA АО “Kaspi Bank”<br />
              Кбе 19<br />
              <span style="font-weight: bold">Директор</span><br />
              ____________________ Аймаганова М.С.<br/> м.п.
            </td>
            <td>
              <%-reportdata.name_of_firm%> <br />
              Адрес: <%-reportdata.address%> <br />
              БИН\ИИН: <%-reportdata.iin_biin%><br />
              ИИК <%-reportdata.iik%> <br />
               <%-reportdata.bank%> <br />
              Директор ____________________________ <%-reportdata.director_from_client%>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
