<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
      }

      table {
        border-collapse: collapse;
      }
      table,
      th,
      td {
        border: 1px solid black;
        font-size: 8px;
      }
      .div {
        font-size: 8px;
      }
      .div1 {
        font-size: 8px;
        color: black;
        position: relative;
        text-transform: uppercase;
        left: 15px;
        font-size: 30;
        font-family: oswald;
        text-decoration: none;
      }
      .div2 {
        content: '';
        position: absolute;
        left: 0;
        height: 0;
        width: 300px;
        border-bottom: 1px solid gray;
        transition: width 0.3s ease;
      }
      .polnoe {
        font-size: 7px;
      }
      .border_div {
        border: 1px solid black;
        width: 100%;
        height: 20px;

        font-size: 10px;
      }
      .margin-check {
        display: inline-block;
        position: relative;
      }

      .margin-check:after {
        position: absolute;
        content: '';
        border-left: 1px solid black;
        width: 70%;
        transform: translateX(-50%);
        bottom: -15px;
        top: 0;
        left: 10px;
      }
    </style>
  </head>
  <body>
    <div style="margin-top: 70px">
      <div style="display: -webkit-flex">
        <div>
          <div class="div">Заказчик</div>
        </div>
        <div style="margin-left: 70px; position: relative">
          <div class="div1"><%- reportdata.nameOfFirm %></div>
          <div class="div2"></div>
          <div class="polnoe">
            Полное наименование, адрес, данные о средствах связи
          </div>
        </div>
        <div style="position: absolute; right: 20px">
          <div class="div">ИИН/БИН</div>
          <div class="border_div"><%-reportdata.iinBiin%></div>
        </div>
      </div>

      <div style="display: -webkit-flex; margin-top: 30px">
        <div>
          <div class="div">Заказчик</div>
        </div>
        <div style="margin-left: 70px; position: relative">
          <div class="div1"><%- reportdata.nameOfFirm %></div>
          <div class="div2"></div>
          <div class="polnoe">
            Полное наименование, адрес, данные о средствах связи
          </div>
        </div>
        <div style="position: absolute; right: 20px">
          <div class="border_div"><%-reportdata.biin%></div>
        </div>
      </div>
      <div style="display: -webkit-flex; margin-top: 30px">
        <div>
          <div class="div">Заказчик</div>
        </div>
        <div style="position: relative; margin-left: 70px">
          <div class="div1"><%-reportdata.date%></div>
          <div class="div2"></div>
        </div>
        <div style="position: absolute; right: 60px">
          <table style="width: 100%">
            <tr>
              <th>
                Номер <br />
                документа
              </th>
              <th>Дата <br />составления</th>
            </tr>
            <tr>
              <td><%-reportdata.avr%></td>
              <td><%-reportdata.avrDate%></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div style="margin-top: 30px">
      <div class="div1">АКТ ВЫПОЛНЕННЫХ РАБОТ (ОКАЗАННЫХ УСЛУГ)</div>
      <table style="border-collapse: collapse">
        <tr>
          <th>Номер по порядку</th>
          <th style="width: 20px">
            Наименование работ (услуг) (в разрезе их подвидов в соответствии с
            технической спецификацией, заданием, графиком выполнения работ
            (услуг) при их наличии)
          </th>
          <th>Дата выполнения работ (оказания услуг)</th>
          <th style="width: 20px">
            Сведения об отчете о научных исследованиях, маркетинговых,
            консультационных и прочих услугах (дата, номер, количество страниц)
            (при их наличии)
          </th>
          <th style="width: 20px">Единица измерения</th>
          <th style="width: 150px">
            <div style="border-left: 0; border-top: 0; border-width: 100%">
              Выполнено работ (оказано услуг)
            </div>
            <div style="display: -webkit-flex">
              <span
                style="
                  border-left: 0;
                  border-bottom: 0;
                  border-top: 1px solid black;
        
                ">
                количество
              </span>
              <span style="   border-top: 1px solid black;       border-left: 2px solid black;  border-right: 1px solid black;">цена за единицу</span>
              <span
                style="
                  border-left: 0;
   
                  border-bottom: 0;

                  border-top: 1px solid black;
                ">
                стоимость
              </span>
              </div>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </body>
</html>
