<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="margin-top: 30px">
      <div class="div1" style="font-weight: bold; margin-left: 40px;">АКТ ВЫПОЛНЕННЫХ РАБОТ (ОКАЗАННЫХ УСЛУГ)</div>
      <table
        style="
          border-collapse: collapse;
          border: none;
          width: 80%;
          margin-left: 10px;
        ">
        <tr>
          <th style="width: 20px">Номер по порядку</th>
          <th style="width: 70px">
            Наименование работ (услуг) (в разрезе их подвидов в соответствии с
            технической спецификацией, заданием, графиком выполнения работ
            (услуг) при их наличии)
          </th>
          <th style="width: 20px">Дата выполнения работ (оказания услуг)</th>
          <th style="width: 40px !important">
            Сведения об отчете о научных исследованиях, маркетинговых,
            консультационных и прочих услугах (дата, номер, количество страниц)
            (при их наличии)
          </th>
          <th style="width: 20px">Единица измерения</th>
        <!-- Existing code -->

<th style="width: 10px">
  <div style="border-left: 0; border-top: 0; margin-top: 10px; position: relative;">
      Выполнено работ (оказано услуг)
  </div>
  <div
      style="
      position: relative;
      margin-top: 10px;

      ">
      <hr style="position: absolute; width: 100%; top: 0; transform: translateY(-50%);  margin: 0; ">
      <div
          style="
          display: -webkit-flex;
          -webkit-justify-content: space-between;
          ">
          <span class="td_border1" style="border-top:0">количество</span>
          <span class="td_border2" style="width: 75px; border-top: 0; margin-left: 15px;">цена за единицу</span>
          <span class="td_border3" style="border-top: 0;">стоимость</span>
      </div>
  </div>
</th>

<!-- Existing code -->

        </tr>
        <tr style="text-align: center">
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>
            <div
              style="
                display: -webkit-flex;
                -webkit-justify-content: space-between;
                margin-left: 17px;
              ">
              <span class="td_border1" style="border-top: 0; width: 30px">
                6
              </span>
              <span
                class="td_border2"
                style="border-top: 0; text-align: center; width: 75px"
                >7
              </span>
              <span
                class="td_border3"
                style="border-top: 0; width: 30px !important"
                >8
              </span>
            </div>
          </td>
        </tr>
        <% reportdata.details.forEach(function(detail) { %>
        <tr style="text-align: center">
          <th><%-detail.n%></th>
          <th><%-detail.Наименование%></th>
          <th></th>
          <th></th>
          <th>Одна <br />Услуга</th>

          <th>
            <div
              style="
                display: -webkit-flex;
                margin-left: 17px;
                -webkit-justify-content: space-between;
              ">
              <span
                class="td_border1"
                style="border-top: 0; text-align: center;width: 30px"">
                <%= detail.kol_vo %>
              </span>
              <span
                class="td_border2"
                style="border-top: 0; width: 75px; text-align: center">
                <%= detail.efs1 %>
              </span>
              <span
                class="td_border3"
                style="border-top: 0; text-align: center; width: 30px">
                <%= detail.summa %>
              </span>
            </div>
          </th>
        </tr>
        <% }); %>
        <tr style="text-align: center">
          <td style="border: none"></td>
          <td style="border: none"></td>
          <td style="border: none"></td>
          <td style="border: none"></td>
          <td style="border: none">Итого</td>
          <td>
            <div
              style="
                display: -webkit-flex;
                margin-left: 17px;
                -webkit-justify-content: space-between;
              ">
              <div
                class="td_border1"
                style="border-top: 0; text-align: center; width: 30px"></div>
              <span
                class="td_border2"
                style="
                  border-top: 0;
                  width: 75px;

                  text-align: center;
                ">
                x
              </span>
              <span
                class="td_border3"
                style="border-top: 0; text-align: center; width: 30px">
                <%-reportdata.itogo%>
              </span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
