<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 5px;
      }
      table {
        border-collapse: collapse;
      }
      .vertical-line {
        border-left: 1px solid black;
        height: 110px;
      }
      .content {
        text-align: right;
        margin-right: 70px;
        line-height: 1.4;
      }
      .republic_kz_text {
        margin-right: 20px;
      }
      .app_26 {
        margin-right: 40px;
      }
      .form {
        text-align: right;
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="content">
        <p>
          <span class="app_26">Приложение 26</span><br />
          к приказу Министра финансов<br />
          <span class="republic_kz_text">Республики Казахстан</span> <br />
          от 20 декабря 2012 года № 562
        </p>
      </div>
      <div class="form"><p>Форма З-2</p></div>
      <div style="display: -webkit-flex; margin-top: 50px">
        <div>
          <span>Организация (индивидуальный предприниматель)</span>
        </div>
        <div style="position: relative; left: 20px">
          <span>___________________________________________________________</span>
          <span style="position: absolute; left: 40%"><%-reportdata.ip%></span>
        </div>
       
      </div>
      <div style="display: -webkit-flex; position: absolute; right: 20px; top: 80px; ">
        <div style="margin-top: 20px">ИИН/БИН</div>
        <div style="border: 1px solid black; padding: 3px; margin-left: 2px">
          <%-reportdata.biin%>
        </div>
      </div>
      <table border="1" style="position: absolute; border: 1px solid black; right: 1%">
        <tr>
          <th>Номер документа</th>
          <th>Дата составления</th>
        </tr>
        <tr>
          <td><%-reportdata.nomer_nak%></td>
          <td><%-reportdata.data_nak%></td>
        </tr>
      </table>
      <div style="text-align: center; font-size: 7px; margin-top: 50px">
        НАКЛАДНАЯ НА ОТПУСК ЗАПАСОВ НА СТОРОНУ
      </div>
      <table style="margin-top: 20px; text-align: center; width: 100%; border: 1px solid black">
        <tr>
          <th style="border: 1px solid black">
            Организация (индивидуальный предприниматель) - отправитель
          </th>
          <th style="border: 1px solid black">
            Организация (индивидуальный предприниматель) - получатель
          </th>
          <th style="border: 1px solid black">Ответственный за поставку (Ф.И.О.)</th>
          <th style="border: 1px solid black">Транспортная организация</th>
          <th style="border: 1px solid black">Товарно-транспортная накладная (номер, дата)</th>
        </tr>
        <tr>
          <td style="border: 1px solid black"><%-reportdata.ip%></td>
          <td style="border: 1px solid black"><%-reportdata.nazvanie_firmy_3%></td>
          <td style="border: 1px solid black"><%-reportdata.rukovoditel%></td>
          <td style="border: 1px solid black"></td>
          <td style="border: 1px solid black"></td>
        </tr>
      </table>
      <table style="margin-top: 20px; text-align: center; width: 100%; border: none">
        <tr>
          <th style="border: 1px solid black">Номер по порядку</th>
          <th style="border: 1px solid black">Наименование, характеристика</th>
          <th style="border: 1px solid black">Номенклатурный номер</th>
          <th style="border: 1px solid black">Единица измерения</th>
          <th>
            <div style="border-top: 1px solid black; position: relative">
              <span style="margin-top: 30px"> Количество </span>
            </div>
            <div style="position: relative; width: 150px; margin-top: 17px">
              <div
                style="
                  position: absolute;
                  width: 143%;
                  top: -2px;
                  transform: translateY(-50%);
                  margin: 0;
                  height: 1px;
                  background-color: black;
                "
              ></div>
              <div
                style="
                  display: -webkit-flex;
                  -webkit-justify-content: space-between;
                  position: relative;
                "
              >
                <span  style=" padding-right: 5px">подлежит отпуску</span>
                <div
                  style="
                    position: absolute;
                    left: 72%;
                    top: 0;
                    bottom: 0;
                    width: 1px;
                    height: 120%;
                    background-color: black;
                    transform: translateX(-50%);
                  "
                ></div>
                <span class="td_border3" style="flex: 1; padding-left: 5px">отпущено</span>
              </div>
            </div>
          </th>
          <th style="border: 1px solid black">Цена за единицу, в KZT</th>
          <th style="border: 1px solid black">Сумма с НДС, в KZT</th>
          <th style="border: 1px solid black">Сумма НДС, в KZT</th>
        </tr>

        <tr>
          <td style="border: 1px solid black">1</td>
          <td style="border: 1px solid black">2</td>
          <td style="border: 1px solid black">3</td>
          <td style="border: 1px solid black">4</td>
          <td style="border: 1px solid black">
            <div
              style="
                display: -webkit-flex;
                -webkit-justify-content: space-between;
                text-align: center;
                position: relative;
              "
            >
              <span style="margin-left: 30px; text-align: center; padding-right: 5px">5</span>
              <div
                style="
                  position: absolute;
                  left: 50.5%;
                  top: 0;
                  height: 120%;
                  bottom: 0;
                  width: 1px;
                  background-color: black;
                  transform: translateX(-50%);
                "
              ></div>
              <span style="margin-right: 30px; padding-left: 5px">6</span>
            </div>
          </td>

          <td style="border: 1px solid black">7</td>
          <td style="border: 1px solid black">8</td>
          <td style="border: 1px solid black">9</td>
        </tr>
        <% reportdata.esf.forEach(function(es) { %>
        <tr>
          <td style="font-size: 5px; padding: 5px; border: 1px solid black"><%= es.n %></td>
          <td style="font-size: 5px; padding: 5px; border: 1px solid black">
            <%= es.Наименование %>
          </td>
          <td style="border: 1px solid black"></td>
          <td style="border: 1px solid black">шт</td>
          <td style="font-size: 5px; height: 100%; padding: 5px; border: 1px solid black">
            <div
              style="
                display: -webkit-flex;
                -webkit-justify-content: space-between;
                text-align: center;
                position: relative;
                height: 200%;
              "
            >
              <span style="margin-left: 20px; text-align: center; padding-right: 5px">
                <%= es.kol_vo %> шт</span
              >
              <div
                style="
                  position: absolute;
                  left: 50.5%;
                  top: -100%;
                  bottom: 0;
                  height: 300%;
                  width: 1px;
                  background-color: black;
                  transform: translateX(-50%);
                "
              ></div>
              <span style="margin-right: 20px; padding-left: 5px"> <%= es.kol_vo %> шт</span>
            </div>
          </td>
          <td style="font-size: 5px; padding: 5px; border: 1px solid black"><%= es.efs1 %> тнг</td>
          <td style="font-size: 5px; padding: 5px; border: 1px solid black">
            <%= es.summa %> тнг
          </td>
          <td style="font-size: 5px; padding: 5px; border: 1px solid black">0,0</td>
        </tr>
        <% }) %>
        <tr style="text-align: center; border-left: 0 !important">
          <td style="border: none"></td>
          <td style="border: none; position: relative"></td>
          <td style="border: none"></td>
          <td style="border: none">Итого</td>
          <td style="border: 1px solid black; position: relative;">
            <div
              style="
                position: absolute;
                left: 50.5%;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 1px;
                background-color: black;
                transform: translateX(-50%);
              "
            ></div>
          </td>

          <td style="border: 1px solid black">x</td>
          <td style="border: 1px solid black"><%-reportdata.sum%></td>
          <td style="border: 1px solid black">0,00</td>
        </tr>
      </table>
      <div style="display: -webkit-flex; margin-top: 20px; width: 100%">
        <span>Всего отпущено количество запасов (прописью)</span>
        <div style="position: relative; left: 20px">
          <span>_________________________</span>
          <span style="position: absolute; left: 30%"><%-reportdata.itogoSum%></span>
        </div>
        <div style="margin-left: 40px">на сумму (прописью), в KZT</div>

        <div style="position: relative; left: 20px">
          <span>_______________________________________________</span>
          <span style="position: absolute; left: 10%; width: 100%"
            ><%-reportdata.itogo%></span
          >
          <span style="position: absolute; left: 25%; width: 100%">(<%-reportdata.propisItogo%>)</span>
        </div>
      </div>
      <div>
      <div class="vertical-line" style="position: absolute; left: 40%; top: 80%"></div>

      <div style="display: -webkit-flex; position: absolute; left: 44%; top: 90%; width: 100%">
        <div>Запасы получил</div>
        <div style="position: relative; left: 20px">
          <span>_________________</span>

          <span style="position: absolute; left: 20%; top: 10px">подпись</span>
        </div>
        <div style="position: relative; left: 3%">/</div>
        <div style="position: relative; left: 25px">
          <span>___________________________</span>
          <span style="position: absolute; left: 20%"><%-reportdata.rukovoditel%></span>
          <span style="position: absolute; left: 20%; top: 10px">расшифровка подписи</span>
        </div>
      </div>
      <div style="display: -webkit-flex; margin-top: 50px">
        <div>Отпуск разрешил</div>
        <div style="position: relative; left: 20px">
          <span>_______________________</span>
          <span style="position: absolute; left: 20%">Руководитель</span>
          <span style="position: absolute; left: 20%; top: 10px">должность</span>
        </div>
        <div style="position: relative; left: 3%">/</div>
        <div style="position: relative; left: 25px">
          <span>___________________</span>
          <span style="position: absolute; left: 20%; top: 10px">подпись</span>
        </div>
        <div style="position: relative; left: 3.5%">/</div>
        <div style="position: relative; left: 25px">
          <span>_______________________________________</span>
          <span style="position: absolute; left: 20%"><%-reportdata.rukovoditel%></span>
          <span style="position: absolute; left: 20%; top: 10px">расшифровка подписи</span>
        </div>

        <div style="position: relative; left: 10%">
          <div>По доверенности</div>
          <div style="display: -webkit-flex; margin-top: 10px">
            <div>выданной</div>
            <span>___________________________</span>
          </div>
          <div>
            <span>______________________________________________</span>
          </div>
        </div>
      </div>
      <div style="display: -webkit-flex">
        <div>
          <div>Главный бухгалтер</div>
          <div style="margin-top: 5px">М.П.</div>
        </div>
        <div style="position: relative; left: 20px">
          <span>_________________________________________</span>

          <span style="position: absolute; left: 35%; top: 10px">подпись</span>
        </div>
        <div style="position: relative; left: 3%">/</div>
        <div style="position: relative; left: 25px">
          <span>________________________________________</span>
          <span style="position: absolute; left: 20%"><%-reportdata.rukovoditel%></span>
          <span style="position: absolute; left: 20%; top: 10px">расшифровка подписи</span>
        </div>
      </div>
      <div style="display: -webkit-flex; margin-top: 30px">
        <div>Отпустил</div>

        <div style="position: relative; left: 20px">
          <span>________________________________</span>

          <span style="position: absolute; left: 30%; top: 10px">подпись</span>
        </div>
        <div style="position: relative; left: 3%">/</div>
        <div style="position: relative; left: 25px">
          <span>_________________________________________________________</span>
          <span style="position: absolute; left: 20%"><%-reportdata.rukovoditel%></span>
          <span style="position: absolute; left: 30%; top: 10px">расшифровка подписи</span>
        </div>
      </div>

    </div>
  </body>
</html>